extend layout
block content
  p
    | This is a simple node.js and jade website.
  p
    | Basic HTML seems a little easier than jade.  I like knowing where the sections are thanks to the carrots.
block sidebar
  .widget
    h1 Widget
    p
      | If I can change this while the server is running, I will have learned something new.
      | I can in fact change it while the server is running.  Exciting.