

doctype
html
  head
    title #{title} - My Site
    
  body
    header
      h1 This is my simple website
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    label Username:
      input(type='text', id='name')
    label Date:
      input(type='text', id='date')

    input(type="checkbox", checked, id='checkbox')
    script.
      var output = function(){
      window.alert('Name:  ' + document.getElementById('name').value + '\nDate:  ' + document.getElementById('date').value );
      console.log('I clicked the thing');
      console.log(document.getElementById('name').value);
      console.log(document.getElementById('date').value);
      console.log(document)}
    button(type="submit", onClick="output()") Submit
    footer
      p Running on node with Express and Jade